$body-text-color: #999999;
$header-color: #000000;

/* -------------------------- COLORS */
$black: #222222;
$charcoal: #262626;
$red: #C14E51;
$black: #000000;
$brown-coffee: #4C2C16;
$blue: #19222d;

$site-width: 1100px;

$small: "screen and (min-width: 650px)"
